<%= form_for(@celebtwit) do |f| %>
  <% if @celebtwit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@celebtwit.errors.count, "error") %> prohibited this celebtwit from being saved:</h2>

      <ul>
      <% @celebtwit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :acct %><br>
    <%= f.text_field :acct %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
