<h1>Listing celebtwits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Acct</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @celebtwits.each do |celebtwit| %>
      <tr>
        <td><%= celebtwit.name %></td>
        <td><%= celebtwit.acct %></td>
        <td><%= link_to 'Show', celebtwit %></td>
        <td><%= link_to 'Edit', edit_celebtwit_path(celebtwit) %></td>
        <td><%= link_to 'Destroy', celebtwit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Celebtwit', new_celebtwit_path %>
