<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @celebtwit.name %>
</p>

<p>
  <strong>Acct:</strong>
  <%= @celebtwit.acct %>
</p>

<%= link_to 'Edit', edit_celebtwit_path(@celebtwit) %> |
<%= link_to 'Back', celebtwits_path %>
